@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: wheat;
}

header{
    background-color: black;
    height: 270px;
}

header > h1{
    font-family: Passion One, cursive;
    color: white;
    text-align: center;
    font-size: 7em;
    margin: 0px;
    padding-top: 40px;
}

header > p{
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin-top: 0px;
    font-size: 1em;
    padding: 0px;
}

header > p > a{
    font-family: sans-serif;
    text-decoration: none;
    color: white;
}

header > p > a:hover{
    text-decoration: underline;
}

p{
    font-family: Sriracha;
    font-size: 3em;
    line-height: 2em;
    padding-left: 45px;
    padding-top: 70px;
}

div{
    background-color: white;
}

main{
    width: 600px;
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    padding-left: 5px;
}

main > p{
    padding: 0px;
}

.fundo{
    background-position: center center;
    background-attachment: fixed;
    padding: 40px 0px 60px 40px;
    border: 1px solid rgba(0, 0, 0, 0.445);
}

#fundo1{
    background-image: url(imagens/background001.jpg);
}

#fundo2{
    background-image: url(imagens/background002.jpg);
}
